.registrationPageMain{
    padding: 2%;
    width: 65%;
}
.registrationForm{ 
    width: 70%;
}
.profilePictureLeftSide{
    width: 25%;
}
.profilePictureRightSide{
    width: 25%;
}
.MuiButton-colorPrimary.Mui-disabled{
    color: rgb(0 0 0 / 53%) !important;
    font-weight: 900 !important;
}
.termsContent .css-1x2jons-MuiFormControlLabel-asterisk{
    display: none !important;
}
@media only screen and (max-width: 767px) {
    .registrationPageMain{
        width: 100%;
        padding: 3%;
    }
    .registrationForm{ 
        width: 100%;
    }
    .profilePictureLeftSide{
        width: 45%;
    }
    .profilePictureRightSide{
        width: 45%;
    }
}